@model GoogleMapsTest.Models.FlightPoint

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FlightPoint</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mission.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mission.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Damping_distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Damping_distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Target_yaw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Target_yaw)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Target_gimbal_pitch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Target_gimbal_pitch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turn_mode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turn_mode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Has_action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Has_action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Action_time_limit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Action_time_limit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTION_action_repeat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTION_action_repeat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._ACTION_COMMAND_LIST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._ACTION_COMMAND_LIST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._ACTION_COMMAND_PARAMS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._ACTION_COMMAND_PARAMS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PIAction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PIAction)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
