@model GoogleMapsTest.Models.FlightPoint

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FlightPoint</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mission.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mission.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altitude)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Damping_distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Damping_distance)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Target_yaw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Target_yaw)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Target_gimbal_pitch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Target_gimbal_pitch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turn_mode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turn_mode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Has_action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Has_action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Action_time_limit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Action_time_limit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTION_action_repeat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTION_action_repeat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._ACTION_COMMAND_LIST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._ACTION_COMMAND_LIST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._ACTION_COMMAND_PARAMS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._ACTION_COMMAND_PARAMS)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PIAction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PIAction)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FlightPointPK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
